# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Media & static
/media/
/staticfiles/

# Virtual environment
venv/
.env/
.env
db.sqlite3
media/
staticfiles/
front-end/
*.png
*.jpg
*.jpeg
*.mp4
*.exe
