Django==5.2.1
gunicorn==22.0.0
whitenoise==6.11.0
python-dotenv==1.2.1
pillow==11.2.1
psycopg2-binary==2.9.9
django-widget-tweaks==1.5.0
psycopg2-binary==2.9.9
dj-database-url
imagekitio
django-imagekit